version: '3.8'

services:
  backend:
    build: ./server
    container_name: medicore_backend
    ports:
      - "8000:8000"
    env_file:
      - ./server/.env
    restart: always

  frontend:
    build: ./client
    container_name: medicore_frontend
    ports:
      - "8501:8501"
    environment:
      - API_URL=http://backend:8000
    depends_on:
      - backend
    restart: always
